<label>Welcome</label>
<p>Include this line on product template where you want to show on that page.</p>
<p>====================</p>
<span style="color:green;">{% include 'ZipCode' %}</span>
<p>====================</p>
<br>
<%= link_to 'Continue', ziphome_home_index_path %>



